<h1>Edit movie</h1>

  <%= form_with(model: @movie) do |form| %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :overview %>
      <%= form.text_area :overview %>
    </div>

    <div class="field">
      <%= form.label :release_date %>
      <%= form.text_field :release_date %>
    </div>

    <div class="field">
      <%= form.label :rating %>
      <%= form.text_field :rating %>
    </div>

    <div class="field">
      <%= form.label :watched? %>
      <%= form.check_box :watched %>
    </div>

    <%= button_to "Update", @movie, {method: :put, class: "btn btn-primary"} %>
  <% end %>
  <%= link_to "Back", movie_path, class: "btn btn-secondary" %>