

<h1 class="display-1">Movies</h1>

<div class="row align-items-start g-2">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <p class="lead"><%= @movie.title %></p>
        <p><strong>Released: </strong><%= @movie.release_date.strftime("%b %d, %Y") %></p>
        <p><strong>Overview: </strong><%= @movie.overview %></p>
        <p><strong>Rating: </strong><%= @movie.ratings %></p>
        <%= link_to "Back", movies_path, class: "btn btn-primary"%>
      <%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-secondary"%>
      <%= button_to "Delete", @movie, {method: :delete, class: "btn btn-danger"} %>
      </div>
    </div>
  </div>
</div>